<div class="form-container sign-up" >
    <form (ngSubmit)="getOtp()"  class="form">
        <h1>Forgot Password</h1>
        <div class="social-icons">
            <a href="#" class="icon"><i class="bi bi-github"></i></a>
            <a href="#" class="icon"><i class="bi bi-google"></i></a>
            <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
            <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
        </div>
        <span>enter your Email for OTP</span>
        <input type="email" name="email" [(ngModel)]="forgotPassword.email"  placeholder="Enter your Email ID" required/>
        <button type="submit" (click)="getOtp()">Send OTP</button>
    </form>
</div>