
<div class="parent"> 
  <div class="container" [ngClass]="sigindiv ? 'active' :'' " id="container">
      <div class="form-container sign-up" >
          <form (ngSubmit)="register()"  class="form">
              <h1>Create Account</h1>
              <div class="social-icons">
                  <a href="#" class="icon"><i class="bi bi-github"></i></a>
                  <a href="#" class="icon"><i class="bi bi-google"></i></a>
                  <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
              </div>
              <span>or use your email for registeration</span>
              <input type="text" name="name" [(ngModel)]="signUpDetails.name" placeholder="Name" required/>
              <input type="email" name="email" [(ngModel)]="signUpDetails.email"  placeholder="Email" required/>
              <input type="password" name="password"  [(ngModel)]="signUpDetails.password" placeholder="Password" required/>
              <button type="submit" (click)="register()">SIGN UP</button>
          </form>
      </div>
      <div class="form-container sign-in" >
          <form (ngSubmit)="loginFunction()" #logInForm="ngForm">
              <h1>LOG IN</h1>
              <div class="social-icons">
                  <a href="#" class="icon"><i class="bi bi-github"></i></a>
                  <a href="#" class="icon"><i class="bi bi-google"></i></a>
                  <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
              </div>
              <span>or use your email password</span>
              <input type="email" name="email"  placeholder="Email" required>
              <input type="password" name="password"  placeholder="Password" required>
              <a href="#">→ Forget Your Password? ←</a>
              <button type="submit" (click)="loginFunction()">LOG IN</button>
          </form>
      </div>
      <div class="toggle-container">
          <div class="toggle">
              <div class="toggle-panel toggle-left">
                  <h1>Welcome Back!</h1>
                  <p>Existing User</p>
                  <button type="button" class="hidden" id="login" (click)="sigindiv = false">LOGIN</button>
              </div>
              <div class="toggle-panel toggle-right">
                  <h1>Hey! there</h1>
                  <p>New User To register </p>
                  <button type="button" class="hidden" id="register" (click)="sigindiv = true">Create Account</button>
              </div>
          </div>
      </div>
  </div>
</div>