<div class="parent">
  <div class="container" id="container">
    <div class="form-container sign-up">
      <form>
        <h1>Create Account</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="bi bi-github"></i></a>
          <a href="#" class="icon"></a>
          <a href="#" class="icon"></a>
          <a href="#" class="icon"></a>
        </div>
        <span>or use email for registerration</span>
        <input type="text" placeholder="name" />
        <input type="email" placeholder="email" />
        <input type="password" placeholder="password" />
        <input type="button" value="sign-up" />
      </form>
    </div>
    <div class="form-container sign-in">
      <form>
        <h1>Sign-in</h1>
        <div class="social-icons">
          <a href="#" class="icon"></a>
          <a href="#" class="icon"></a>
          <a href="#" class="icon"></a>
          <a href="#" class="icon"></a>
        </div>
        <span>or use your email password</span>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="password" />
        <a href="#">➡forgot Password⬅</a>
        <input type="button" value="Sign In" />
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-pannel toggle-left">
          <h1>Welcome Back 👋</h1>
          <p>Enter your login Credentional 🔐</p>
          <input type="button" class="hidden" value="Sign In" />
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hey !</h1>
          <p>Enter your details and continue and to login page</p>
          <input type="button" class="hidden" id="register" value="Sign Up" />
        </div>
      </div>
    </div>
  </div>
</div>
